---
layout: default
title: Gladstone, Australia
permalink: /
description: Everything Open 2024 is an open technologies conference running in Gladstone, Australia from April 16-18 2024.
---

<div class="bg-banner">
  <div class="d-flex align-items-md-center justify-content-md-center align-items-center justify-content-center h-100 py-4">
    <div class="header-info text-center px-3 py-3">
      <h1 class="text-light">Everything Open 2024</h1>
      <p class="h2 text-white-50">April 16-18 2024<br>
        Gladstone, Australia
      </p>
    </div>
  </div>
</div>

<div class="bg-dusk-sea text-light">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Registration Open</h2>
        <p>Ticket sales for Everything Open 2024 are now open! <a href="/attend/tickets/" class="link-light"></a>
        <p><a href="/news/registrations-open/" class="btn btn-outline-light" role="button">Find out more</a></p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2 class="pb-2">What does the conference cover?</h2>
        <p>Everything Open is an opportunity for our communities to come together for three days to share updates on their projects and learn about the latest in open technologies from leading community members.</p>
        <p>
          The conference will cover a broad range of topics across three days.
          You can expect to see talks from areas such as the Linux ecosystem, including the Kernel, distros and drivers.
          There will also be a number of presentations on open source software and open hardware, alongside talks on Galleries, Libraries, Archives and Museums (GLAM), open data, open government, and much more.
          Another key feature will be talks on building and managing communities around open technologies.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="bg-blaze">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Sponsor Everything Open 2024</h2>
        <p>Sponsorship packages are available to suit a range of budgets, from small startup to enterprise.</p>
        <a href="/sponsors/prospectus/" class="btn btn-secondary" role="button">View sponsorship options</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About Everything Open</h2>
        <p>
          Everything Open is a conference focused on open technologies, including Linux, open source software, open hardware and open data, and the communities that surround them.
          The conference provides technical deep-dives as well as updates from industry leaders and experts on a wide array of topics from these areas.
        </p>
        <p>Everything Open embodies Linux Australia's values, providing a space for the community to come together to learn from each other and participate in discussions.</p>

        <a href="https://lists.linux.org.au/mailman/listinfo/eo-announce" class="btn btn-dark" role="button">Subscribe for updates</a>
        <a href="https://mirror.linux.org.au/pub/everythingopen/" class="btn btn-secondary" role="button">Download recordings from past events</a>
        <a href="https://www.youtube.com/@EverythingOpen" class="btn btn-secondary" role="button">Watch on YouTube</a>
      </div>
    </div>
  </div>
</div>
