<figure class="figure feature-figure feature-figure-float-{{ include.floatdir }}">
    <img src="{{ include.url }}" alt="{{ include.description }}" class="img feature-img">
    <figcaption class="figure-caption feature-figure-caption">{{ include.description }}</figcaption>
</figure>