
<footer class="footer">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 pb-4">

        <strong>Everything Open 2024</strong> <br>
        April 16-18 2024 <br>
        Gladstone, Australia <br>
        Timezone: AEST - UTC+10 <br>
        <a href="mailto:contact@everythingopen.au" alt="Email"><i class="bi-envelope-fill"></i></a>
        <a href="https://fosstodon.org/@EverythingOpen" alt="Mastodon"><i class="bi-mastodon"></i></a>
        <a href="https://twitter.com/_everythingopen" alt="Twitter"><i class="bi-twitter"></i></a>
        <a href="https://www.linkedin.com/showcase/everythingopen/" alt="LinkedIn"><i class="bi-linkedin"></i></a>
      </div>
      <div class="col-md-4 pb-4 text-center">
        <p class="text-secondary">Brought to you by</p>
        <a href="https://linux.org.au"><img src="/media/img/sponsors/la_logo.svg" alt="Linux Australia logo" class="footer-image"></a>
      </div>
      <div class="col-md-4 pb-4 text-end">
        <small>
          <a href="#">Back to top</a><br>
          &copy; 2024 Everything Open and <a href="https://linux.org.au/">Linux Australia</a><br>
          Linux is a registered trademark of Linus Torvalds <br>
          <a href="/colophon">Colophon</a>
        </small>
      </div>
    </div>
  </div>
</footer>

<script src="/media/js/bootstrap.bundle.min.js"></script>
