<!-- The source files for this map are in Kathy Reid's repo at https://github.com/KathyReid/everythingopen2024-map-geojson -->

<iframe width="100%" height="350px" frameborder="0" allowfullscreen allow="geolocation"
  src="//umap.openstreetmap.fr/en/map/everything-open-2024-gladstone-queensland-au_973225?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&captionMenus=true"></iframe>
<p><a
    href="//umap.openstreetmap.fr/en/map/everything-open-2024-gladstone-queensland-au_973225?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&captionMenus=true">See
    full screen</a></p>