<nav class="navbar navbar-expand-lg bg-dawn-sea">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/media/img/logo/eo2024.svg" alt="Everything Open 2024 logo" height="56px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarPrimary">
      <ul class="navbar-nav mr-auto">
      {% for navigationLink in site.navigationLinks %}
      {% assign navClass = navigationLink.navClass %}
      <li class="nav-item {% if navigationLink.children != null %}dropdown{% endif %}">
      {% if navigationLink.children == null %}
      <a class="nav-link {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}active{% endif %} {{ navClass }}" href="{% if navigationLink.permalink != null %}{{ navigationLink.permalink | prepend: site.baseurl }}{% else %}{{ navigationLink.link }}{% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{navigationLink.text}}</a>
      {% else %}
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{navigationLink.text}}
        </a>
        <div class="dropdown-menu">
          {% for childLink in navigationLink.children %}
            <a class="dropdown-item" href="{% if childLink.permalink != null %}{{ childLink.permalink | prepend: site.baseurl }}{% else %}{{ childLink.link }}{% endif %}" {% if childLink.link != null %}target="_blank"{% endif %}>{{childLink.text}}</a>
          {% endfor %}
        </div>
      {% endif %}
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>
