<div class="table-responsive">
  <table class="table table-hover" summary="This table provides a summary of the Miniconf days">
    <thead class="table-dark">
      <tr>
        <th>Time</th>
        <th class="text-center">Duration (min)</th>
        <th>Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>9:00 am</td>
        <td class="text-center">10</td>
        <td>Start of day housekeeping</td>
      </tr>
      <tr>
        <td>9:10 am</td>
        <td class="text-center">60</td>
        <td>Keynote</td>
      </tr>
      <tr class="table-success">
        <td>10:10 am</td>
        <td class="text-center">35</td>
        <td>Morning tea break</td>
      </tr>
      <tr>
        <td>10:45 am</td>
        <td class="text-center">45</td>
        <td>Talk 1</td>
      </tr>
      <tr class="table-info">
        <td>11:30 am</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>11:40 am</td>
        <td class="text-center">45</td>
        <td>Talk 2</td>
      </tr>
      <tr class="table-success">
        <td>12:25 pm</td>
        <td class="text-center">65</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>1:30 pm</td>
        <td class="text-center">45</td>
        <td>Talk 3</td>
      </tr>
      <tr class="table-info">
        <td>2:15 pm</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>2:25 pm</td>
        <td class="text-center">45</td>
        <td>Talk 4</td>
      </tr>
      <tr class="table-success">
        <td>3:10 pm</td>
        <td class="text-center">35</td>
        <td>Afternoon tea break</td>
      </tr>
      <tr>
        <td>3:45 pm</td>
        <td class="text-center">25</td>
        <td>Talk 5</td>
      </tr>
      <tr class="table-info">
        <td>4:10 pm</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>4:20 pm</td>
        <td class="text-center">25</td>
        <td>Talk 6</td>
      </tr>
      <tr class="table-info">
        <td>4:45 pm</td>
        <td class="text-center">10</td>
        <td><em>Break</em></td>
      </tr>
      <tr>
        <td>4:55 pm</td>
        <td class="text-center">25</td>
        <td>Talk 7</td>
      </tr>
      <tr class="table-success">
        <td>5:20 pm</td>
        <td></td>
        <td>
          Sessions end<br>
          BoF sessions and evening events begin
        </td>
      </tr>
    </tbody>
  </table>
</div>
