<figure class="figure survey-figure">
    <img src="{{ include.url }}" alt="{{ include.description }}" class="img survey-img">
    <figcaption class="figure-caption survey-figure-caption">{{ include.description }}</figcaption>
</figure>