---
layout: default
---
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="page-title">{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif %}</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {{ content }}
</div>
